#welcome {
    display: block;
    font-size: 2em;
    color: #333;
    text-align: center;
}

#find-sb {
    display: block;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

#spacebar-container {
    position: relative;
    text-align: center;
}


#spacebar {
    display: block;
    width: 70vw;
    height: 75vh;
    margin: 0 auto;
}

#arrow {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    transform: rotate(180deg) translateX(50%);
    width: 80px;
    height: auto;
    animation: bounce 0.5s infinite alternate;
}

#message {
    margin-top: 70px;
    font-size: 1.5em;
}

@keyframes bounce {
        from { top: 650px; }
        to { top: 610px; }
    
}

.smiley {
    position: absolute;
    width: 85px;
    height: 70px;
    animation: float 2s ease-out;
    opacity: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) scale(0); opacity: 0;
    }
    10% {
        transform: translateY(0) scale(1); opacity: 1;
    }
    90% {
        transform: translateY(-100px) scale(1); opacity: 1;
    }
    100% {
        transform: translateY(-120px) scale(1); opacity: 0;
    }
}

button {
    margin-top: 10vh;
    font-size: 1.5em;
}


/* NEUTRAL PAGE EDIT */
#neutral-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}